&lt;!-- &lt;section role=&quot;complementary&quot; class=&quot;locations-section&quot; id=&quot;locations-section&quot;&gt;
  &lt;div class=&quot;outer-container black-bg white-text no-space&quot;&gt;
    &lt;div class=&quot;accordion js-accordion no-space&quot;&gt;
      &lt;div class=&quot;accordion-group is-active&quot;&gt;
        &lt;div class=&quot;accordion-heading&quot;&gt;
          &lt;h4 class=&quot;top-out bottom-out&quot;&gt;&lt;a href=&quot;#&quot;&gt;California: Rocklin&lt;/a&gt;&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;accordion-collapse&quot;&gt;
          &lt;p&gt;Rocklin lawmakers are considering banning all flavored tobacco products from being sold in Rocklin County, Calif. If passed, this ban will include all flavored cigars, cigarillos, chewing tobacco, snus, electronic cigarettes and e-juice. Use the information below to contact your local officials before it&amp;rsquo;s too late.&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Phone:&lt;/strong&gt; (123) 456-7890&lt;br/&gt;
            &lt;strong class=&quot;yellow-text&quot;&gt;Email:&lt;/strong&gt; Contact@mail.com&lt;br/&gt;
          &lt;strong class=&quot;yellow-text&quot;&gt;Address:&lt;/strong&gt; 23 Main Streett, Rocklin CA 12345&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Meeting Date:&lt;/strong&gt; April 17, 2017 at 5:00pm&lt;/p&gt;
          &lt;p&gt;&lt;button class=&quot;reveal-btn button&quot;&gt;Contact Your Local Official&lt;/button&gt;&lt;/p&gt;
          &lt;form style=&quot;display: none;&quot; role=&quot;form&quot; id=&quot;#flavorform&quot; data-toggle=&quot;validator&quot; class=&quot;modal-form form shake&quot;&gt;
            &lt;!-- &lt;input type=&quot;hidden&quot; id=&quot;county&quot; value=&quot;&quot;&gt;
            &lt;input type=&quot;hidden&quot; id=&quot;ordinance&quot; value=&quot;&quot;&gt; 
            &lt;p&gt;Hello,&lt;/p&gt;
            &lt;p&gt;As a resident of [name of town/county], I&amp;rsquo;m writing to respectfully express my concern for the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;These restrictions will cause more harm than good in our community in multiple ways, including:&lt;/p&gt;
            &lt;ul class=&quot;list letter-list&quot;&gt;
              &lt;li&gt;Driving business to surrounding communities that do not have the same tobacco restrictions.&lt;/li&gt;
              &lt;li&gt;Providing surrounding businesses an unfair competitive advantage by banning my business from selling legal tobacco products to legal age consumers.&lt;/li&gt;
              &lt;li&gt;Forcing police departments to regulate a new tobacco ordinance while issues with opioid abuse and homicide continue to plague the U.S.&lt;/li&gt;
              &lt;li&gt;Opening up an opportunity for criminals to sell tobacco products illegally on the black market, which can result in an increase in crime, violence and youth access to tobacco products.&lt;/li&gt;
            &lt;/ul&gt;
            &lt;p&gt;Additionally, these ordinances limit the freedoms and choices of legal adults who can get married, serve our country and vote for leaders, such as yourself.&lt;/p&gt;
            &lt;p&gt;While I understand the concern for public health, please rest assured we only sell legal tobacco products to legal age adults. In fact, our staff goes through extensive training to keep tobacco products away from underage individuals. &lt;/p&gt;
            &lt;p&gt;We are doing our part to be responsible members of the local business community by responsibly selling legal tobacco products to adults. I am in favor of any laws that will benefit the public health, but I can&amp;rsquo;t support an ordinance that doesn&amp;rsquo;t support my livelihood. &lt;/p&gt;
            &lt;p&gt;For the sake of [name of town]&amp;rsquo;s community and local businesses, please vote &amp;ldquo;no&amp;rdquo; on the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;Please contact me if you have any questions.&lt;/p&gt;
            &lt;p&gt;Thank you, &lt;/p&gt;
            &lt;div class=&quot;input-wrapper&quot;&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;name&quot; class=&quot;h4&quot;&gt;Electronic Signature&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; placeholder=&quot;Your Name&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;email&quot; class=&quot;h4&quot;&gt;Email&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; placeholder=&quot;Your email&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;cf&quot;&gt;
              &lt;button type=&quot;reset&quot; id=&quot;form-reset&quot; class=&quot;btn btn-clear button pull-right &quot;&gt;Reset&lt;/button&gt;
              &lt;button type=&quot;submit&quot; id=&quot;form-submit&quot; class=&quot;btn btn-success button pull-right &quot;&gt;Submit&lt;/button&gt;
              &lt;div id=&quot;msgSubmit&quot; class=&quot;h3 text-center hidden&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion-group&quot;&gt;
        &lt;div class=&quot;accordion-heading&quot;&gt;
          &lt;h4 class=&quot;top-out bottom-out&quot;&gt;&lt;a href=&quot;#&quot;&gt;Delaware: Milford&lt;/a&gt;&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;accordion-collapse&quot;&gt;
          &lt;p&gt;Phasellus id facilisis lectus. Suspendisse pellentesque tortor eu imperdiet suscipit. Mauris nec ante fermentum, placerat nulla ac, lobortis justo.&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Phone:&lt;/strong&gt; (123) 456-7890&lt;br/&gt;
            &lt;strong class=&quot;yellow-text&quot;&gt;Email:&lt;/strong&gt; Contact@mail.com&lt;br/&gt;
          &lt;strong class=&quot;yellow-text&quot;&gt;Address:&lt;/strong&gt; 23 Main Streett, Rocklin CA 12345&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Meeting Date:&lt;/strong&gt; April 17, 2017 at 5:00pm&lt;/p&gt;
          &lt;p&gt;&lt;button class=&quot;reveal-btn button&quot;&gt;Contact Your Local Official&lt;/button&gt;&lt;/p&gt;
          &lt;form style=&quot;display: none;&quot; role=&quot;form&quot; id=&quot;twentyoneForm&quot; data-toggle=&quot;validator&quot; class=&quot;modal-form form shake&quot;&gt;
          &lt;!--   &lt;input type=&quot;hidden&quot; id=&quot;county&quot; value=&quot;&quot;&gt;
            &lt;input type=&quot;hidden&quot; id=&quot;ordinance&quot; value=&quot;&quot;&gt; 
            &lt;p&gt;Hello,&lt;/p&gt;
            &lt;p&gt;As a resident of [name of town/county], I&amp;rsquo;m writing to respectfully express my concern for the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;These restrictions will cause more harm than good in our community in multiple ways, including:&lt;/p&gt;
            &lt;ul class=&quot;list letter-list&quot;&gt;
              &lt;li&gt;Driving business to surrounding communities that do not have the same tobacco restrictions.&lt;/li&gt;
              &lt;li&gt;Providing surrounding businesses an unfair competitive advantage by banning my business from selling legal tobacco products to legal age consumers.&lt;/li&gt;
              &lt;li&gt;Forcing police departments to regulate a new tobacco ordinance while issues with opioid abuse and homicide continue to plague the U.S.&lt;/li&gt;
              &lt;li&gt;Opening up an opportunity for criminals to sell tobacco products illegally on the black market, which can result in an increase in crime, violence and youth access to tobacco products.&lt;/li&gt;
            &lt;/ul&gt;
            &lt;p&gt;Additionally, these ordinances limit the freedoms and choices of legal adults who can get married, serve our country and vote for leaders, such as yourself.&lt;/p&gt;
            &lt;p&gt;While I understand the concern for public health, please rest assured we only sell legal tobacco products to legal age adults. In fact, our staff goes through extensive training to keep tobacco products away from underage individuals. &lt;/p&gt;
            &lt;p&gt;We are doing our part to be responsible members of the local business community by responsibly selling legal tobacco products to adults. I am in favor of any laws that will benefit the public health, but I can&amp;rsquo;t support an ordinance that doesn&amp;rsquo;t support my livelihood. &lt;/p&gt;
            &lt;p&gt;For the sake of [name of town]&amp;rsquo;s community and local businesses, please vote &amp;ldquo;no&amp;rdquo; on the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;Please contact me if you have any questions.&lt;/p&gt;
            &lt;p&gt;Thank you, &lt;/p&gt;
            &lt;div class=&quot;input-wrapper&quot;&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;name&quot; class=&quot;h4&quot;&gt;Electronic Signature&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; placeholder=&quot;Your Name&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;email&quot; class=&quot;h4&quot;&gt;Email&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; placeholder=&quot;Enter email&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;cf&quot;&gt;
              &lt;button type=&quot;reset&quot; id=&quot;form-reset&quot; class=&quot;btn btn-clear button pull-right &quot;&gt;Reset&lt;/button&gt;
              &lt;button type=&quot;submit&quot; id=&quot;form-submit&quot; class=&quot;btn btn-success button pull-right &quot;&gt;Submit&lt;/button&gt;
              &lt;div id=&quot;msgSubmit&quot; class=&quot;h3 text-center hidden&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion-group&quot;&gt;
        &lt;div class=&quot;accordion-heading&quot;&gt;
          &lt;h4 class=&quot;top-out bottom-out&quot;&gt;&lt;a href=&quot;#&quot;&gt;Flordia: Miami&lt;/a&gt;&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;accordion-collapse&quot;&gt;
          &lt;p&gt;Nunc in tellus in purus tempus volutpat. Aenean tincidunt ligula dui, congue congue justo tempor ut. Integer tempor dui sed mauris vestibulum suscipit.&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Phone:&lt;/strong&gt; (123) 456-7890&lt;br/&gt;
            &lt;strong class=&quot;yellow-text&quot;&gt;Email:&lt;/strong&gt; Contact@mail.com&lt;br/&gt;
          &lt;strong class=&quot;yellow-text&quot;&gt;Address:&lt;/strong&gt; 23 Main Streett, Rocklin CA 12345&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Meeting Date:&lt;/strong&gt; April 17, 2017 at 5:00pm&lt;/p&gt;
          &lt;p&gt;&lt;button class=&quot;reveal-btn button&quot;&gt;Contact Your Local Official&lt;/button&gt;&lt;/p&gt;
          &lt;form style=&quot;display: none;&quot; role=&quot;form&quot; id=&quot;generalForm&quot; data-toggle=&quot;validator&quot; class=&quot;modal-form form shake&quot;&gt;
          &lt;!--   &lt;input type=&quot;hidden&quot; id=&quot;county&quot; value=&quot;&quot;&gt;
            &lt;input type=&quot;hidden&quot; id=&quot;ordinance&quot; value=&quot;&quot;&gt; 
            &lt;p&gt;Hello,&lt;/p&gt;
            &lt;p&gt;As a resident of [name of town/county], I&amp;rsquo;m writing to respectfully express my concern for the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;These restrictions will cause more harm than good in our community in multiple ways, including:&lt;/p&gt;
            &lt;ul class=&quot;list letter-list&quot;&gt;
              &lt;li&gt;Driving business to surrounding communities that do not have the same tobacco restrictions.&lt;/li&gt;
              &lt;li&gt;Providing surrounding businesses an unfair competitive advantage by banning my business from selling legal tobacco products to legal age consumers.&lt;/li&gt;
              &lt;li&gt;Forcing police departments to regulate a new tobacco ordinance while issues with opioid abuse and homicide continue to plague the U.S.&lt;/li&gt;
              &lt;li&gt;Opening up an opportunity for criminals to sell tobacco products illegally on the black market, which can result in an increase in crime, violence and youth access to tobacco products.&lt;/li&gt;
            &lt;/ul&gt;
            &lt;p&gt;Additionally, these ordinances limit the freedoms and choices of legal adults who can get married, serve our country and vote for leaders, such as yourself.&lt;/p&gt;
            &lt;p&gt;While I understand the concern for public health, please rest assured we only sell legal tobacco products to legal age adults. In fact, our staff goes through extensive training to keep tobacco products away from underage individuals. &lt;/p&gt;
            &lt;p&gt;We are doing our part to be responsible members of the local business community by responsibly selling legal tobacco products to adults. I am in favor of any laws that will benefit the public health, but I can&amp;rsquo;t support an ordinance that doesn&amp;rsquo;t support my livelihood. &lt;/p&gt;
            &lt;p&gt;For the sake of [name of town]&amp;rsquo;s community and local businesses, please vote &amp;ldquo;no&amp;rdquo; on the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;Please contact me if you have any questions.&lt;/p&gt;
            &lt;p&gt;Thank you, &lt;/p&gt;
            &lt;div class=&quot;input-wrapper&quot;&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;name&quot; class=&quot;h4&quot;&gt;Electronic Signature&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; placeholder=&quot;Your Name&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;email&quot; class=&quot;h4&quot;&gt;Email&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; placeholder=&quot;Your email&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;cf&quot;&gt;
              &lt;button type=&quot;reset&quot; id=&quot;form-reset&quot; class=&quot;btn btn-clear button pull-right &quot;&gt;Reset&lt;/button&gt;
              &lt;button type=&quot;submit&quot; id=&quot;form-submit&quot; class=&quot;btn btn-success button pull-right &quot;&gt;Submit&lt;/button&gt;
              &lt;div id=&quot;msgSubmit&quot; class=&quot;h3 text-center hidden&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;accordion-group&quot;&gt;
        &lt;div class=&quot;accordion-heading&quot;&gt;
          &lt;h4 class=&quot;top-out bottom-out&quot;&gt;&lt;a href=&quot;#&quot;&gt;Pennsylvania: Pittsburgh&lt;/a&gt;&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class=&quot;accordion-collapse&quot;&gt;
          &lt;p&gt;Nunc in tellus in purus tempus volutpat. Aenean tincidunt ligula dui, congue congue justo tempor ut. Integer tempor dui sed mauris vestibulum suscipit.&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Phone:&lt;/strong&gt; (123) 456-7890&lt;br/&gt;
            &lt;strong class=&quot;yellow-text&quot;&gt;Email:&lt;/strong&gt; Contact@mail.com&lt;br/&gt;
          &lt;strong class=&quot;yellow-text&quot;&gt;Address:&lt;/strong&gt; 23 Main Streett, Rocklin CA 12345&lt;/p&gt;
          &lt;p&gt;&lt;strong class=&quot;yellow-text&quot;&gt;Meeting Date:&lt;/strong&gt; April 17, 2017 at 5:00pm&lt;/p&gt;
          &lt;p&gt;&lt;button class=&quot;reveal-btn button&quot;&gt;Contact Your Local Official&lt;/button&gt;&lt;/p&gt;
          &lt;form style=&quot;display: none;&quot; role=&quot;form&quot; id=&quot;flavorForm&quot; data-toggle=&quot;validator&quot; class=&quot;modal-form form shake&quot;&gt;
            &lt;input type=&quot;hidden&quot; id=&quot;county&quot; value=&quot;&quot;&gt;
            &lt;input type=&quot;hidden&quot; id=&quot;ordinance&quot; value=&quot;&quot;&gt;
            &lt;p&gt;Hello,&lt;/p&gt;
            &lt;p&gt;As a resident of [name of town/county], I&amp;rsquo;m writing to respectfully express my concern for the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;These restrictions will cause more harm than good in our community in multiple ways, including:&lt;/p&gt;
            &lt;ul class=&quot;list letter-list&quot;&gt;
              &lt;li&gt;Driving business to surrounding communities that do not have the same tobacco restrictions.&lt;/li&gt;
              &lt;li&gt;Providing surrounding businesses an unfair competitive advantage by banning my business from selling legal tobacco products to legal age consumers.&lt;/li&gt;
              &lt;li&gt;Forcing police departments to regulate a new tobacco ordinance while issues with opioid abuse and homicide continue to plague the U.S.&lt;/li&gt;
              &lt;li&gt;Opening up an opportunity for criminals to sell tobacco products illegally on the black market, which can result in an increase in crime, violence and youth access to tobacco products.&lt;/li&gt;
            &lt;/ul&gt;
            &lt;p&gt;Additionally, these ordinances limit the freedoms and choices of legal adults who can get married, serve our country and vote for leaders, such as yourself.&lt;/p&gt;
            &lt;p&gt;While I understand the concern for public health, please rest assured we only sell legal tobacco products to legal age adults. In fact, our staff goes through extensive training to keep tobacco products away from underage individuals. &lt;/p&gt;
            &lt;p&gt;We are doing our part to be responsible members of the local business community by responsibly selling legal tobacco products to adults. I am in favor of any laws that will benefit the public health, but I can&amp;rsquo;t support an ordinance that doesn&amp;rsquo;t support my livelihood. &lt;/p&gt;
            &lt;p&gt;For the sake of [name of town]&amp;rsquo;s community and local businesses, please vote &amp;ldquo;no&amp;rdquo; on the [insert ordinance type] under consideration.&lt;/p&gt;
            &lt;p&gt;Please contact me if you have any questions.&lt;/p&gt;
            &lt;p&gt;Thank you, &lt;/p&gt;
            &lt;div class=&quot;input-wrapper&quot;&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;name&quot; class=&quot;h4&quot;&gt;Electronic Signature&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;name&quot; placeholder=&quot;Your Name&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
              &lt;div class=&quot;form-group field-container cf&quot;&gt;
                &lt;p&gt;
                  &lt;label for=&quot;email&quot; class=&quot;h4&quot;&gt;Email&lt;sup&gt;*&lt;/sup&gt;&lt;/label&gt;
                  &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; placeholder=&quot;Your email&quot; required&gt;
                  &lt;div class=&quot;help-block with-errors&quot;&gt;&lt;/div&gt;
                &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;cf&quot;&gt;
              &lt;button type=&quot;reset&quot; id=&quot;form-reset&quot; class=&quot;btn btn-clear button pull-right &quot;&gt;Reset&lt;/button&gt;
              &lt;button type=&quot;submit&quot; id=&quot;form-submit&quot; class=&quot;btn btn-success button pull-right &quot;&gt;Submit&lt;/button&gt;
              &lt;div id=&quot;msgSubmit&quot; class=&quot;h3 text-center hidden&quot;&gt;&lt;/div&gt;
              &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt; --&gt;