
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<small><span class="sg-label">#ccc</span></small>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1a1a1a;"></span>
		<small><span class="sg-label">#1a1a1a</span></small>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1f1f1f;"></span>
		<small><span class="sg-label">#1f1f1f</span></small>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<small><span class="sg-label">#ffffff</span></small>
	</li>
</ul>
