<p>Primary font: "PT Sans", sans-serif</p>
<p><em>Primary font italic: "PT Sans", sans-serif</em></p>
<p><strong>Primary font bold: "PT Sans", sans-serif</strong></p>

<p class="league-gothic">Secondary font: "league-gothic",sans-serif;</p>
<p class="league-gothic"><em>Secondary font italic: "league-gothic",sans-serif;</em></p>
<p class="league-gothic"><strong>Secondary font bold: "league-gothic",sans-serif;</strong></p>
