
<div class="tabs js-tabs">
  <ul class="tab-controls">
    <li class="is-active">
      <a href="#">Tab 1</a>
    </li>
    <li>
      <a href="#">Tab 2</a>
    </li>
    <li>
      <a href="#">Tab 3</a>
    </li>
  </ul>
  <div class="tab-groups">
    <div class="single-tab is-active">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
    <div class="single-tab">
      <p>Phasellus id facilisis lectus. Suspendisse pellentesque tortor eu imperdiet suscipit. Mauris nec ante fermentum, placerat nulla ac, lobortis justo.</p>
    </div>
    <div class="single-tab">
      <p>Nunc in tellus in purus tempus volutpat. Aenean tincidunt ligula dui, congue congue justo tempor ut. Integer tempor dui sed mauris vestibulum suscipit.</p>
    </div>
  </div>
</div>
