
<div class="accordion js-accordion">
  <div class="accordion-group is-active">
    <div class="accordion-heading">
      <h4 class="top-out bottom-out"><a href="#">Item 1</a></h4>
    </div>
    <div class="accordion-collapse">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="top-out bottom-out"><a href="#">Item 2</a></h4>
    </div>
    <div class="accordion-collapse">
      <p>Phasellus id facilisis lectus. Suspendisse pellentesque tortor eu imperdiet suscipit. Mauris nec ante fermentum, placerat nulla ac, lobortis justo.</p>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="top-out bottom-out"><a href="#">Item 3</a></h4>
    </div>
    <div class="accordion-collapse">
      <p>Nunc in tellus in purus tempus volutpat. Aenean tincidunt ligula dui, congue congue justo tempor ut. Integer tempor dui sed mauris vestibulum suscipit.</p>
    </div>
  </div>
</div>
