&lt;time datetime=&quot;2017-02-27&quot;&gt;{{ latestNews.item1.date}}&lt;/time&gt;&lt;br /&gt;
&lt;a href=&quot;&quot;&gt;{{ latestNews.item1.title}}&lt;/a&gt; &lt;br /&gt;
&lt;p&gt;{{ excerpt.short }} &lt;a href=&quot;&quot; class=&quot;more-content&quot;&gt;[...]&lt;/a&gt;&lt;/p&gt;
