<ul class="icons inline-list">

<!--
	<li class="icon-facebook">
		<svg class="icon">
      <use x="0" y="0" xlink:href="#social--fb"></use>
    </svg>
	</li>
	<li class="icon-social">
		<svg class="icon">
      <use x="0" y="0" xlink:href="#social--gd"></use>
    </svg>
	</li>
	<li class="icon-linkedin">
		<svg class="icon">
      <use x="0" y="0" xlink:href="#social--li"></use>
    </svg>
	</li>
	<li class="icon-twitter">
		<svg class="icon">
      <use x="0" y="0" xlink:href="#social--tw"></use>
    </svg>
	</li>
	<li class="icon-vimeo">
		<svg class="icon">
      <use x="0" y="0" xlink:href="#social--vimeo"></use>
    </svg>
	</li>

	<li class="icon-stumbleupon"></li>
	<li class="icon-pinterest"></li>
	<li class="icon-google-plus"></li>
	<li class="icon-youtube"></li>
	<li class="icon-feed"></li>
	<li class="icon-search"></li>
	<li class="icon-play"></li>
-->
</ul>
