<div class="inline-form search-form" role="search">
  <fieldset>
    <legend class="is-vishidden">Search</legend>
    <label for="search-field" class="is-vishidden">Search</label>
    <input type="search" placeholder="Search" id="search-field" class="search-field" />
    <button class="search-submit">
      <svg class="icon">
        <use x="0" y="0" xlink:href="#icon--search"></use>
      </svg>
    	<span class="is-vishidden">Search</span>
    </button>
  </fieldset>
  <p class="search-field-advanced"><a href="#">Advanced Search</a> <a href="#">Contact Lookup</a>
</div>
