
<ul class="nav--icons">
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--careers"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--dollar"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--support"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--search"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--globe"></use>
    </svg>
  </li>

  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--agreements"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--recognition"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--safety"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--news"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--customers"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--vehicles"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--vendors"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--operations"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--download"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--save"></use>
    </svg>
  </li>
  <li>
    <svg class="icon">
      <use x="0" y="0" xlink:href="#icon--remove"></use>
    </svg>
  </li>
</ul>
