
<!--
<ul class="nav--icons">
  <li>
    <svg class="icon icon--social">
      <use x="0" y="0" xlink:href="#social--fb"></use>
    </svg>
  </li>
  <li>
    <svg class="icon icon--social">
      <use x="0" y="0" xlink:href="#social--gd"></use>
    </svg>
  </li>
  <li>
    <svg class="icon icon--social">
      <use x="0" y="0" xlink:href="#social--li"></use>
    </svg>
  </li>
  <li>
    <svg class="icon icon--social">
      <use x="0" y="0" xlink:href="#social--tw"></use>
    </svg>
  </li>
  <li>
    <svg class="icon icon--social">
      <use x="0" y="0" xlink:href="#social--vimeo"></use>
    </svg>
  </li>
</ul>
-->
