<div class="notification notification--alert global-alert" data-alert-name="GUID">
  <div class="container all-sides-padding">
      {{ excerpt.short }}
    <div class="alert--close notification--alert--close" data-control-info="alert-guid">
      <p>Close <svg class="icon icon--reverse-fill icon--remove">
      <use x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--remove"></use></svg></p>
    </div>
  </div>
</div>
