&lt;section role=&quot;complementary&quot; class=&quot;orange-bg resume-content&quot; id=&quot;retailer-signage-section&quot;&gt;
  &lt;div class=&quot;outer-container&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;h1 class=&quot;align-center top-out bottom-out mgrey-text resume-text&quot;&gt;Contact Me&lt;/h1&gt;
      &lt;p class=&quot;align-center white-text&quot;&gt;Here are some ways that you can get into contact with me. Email is the best way. It is possible to reach me by phone but it depends on when you call and what my schedule for that day is like.&lt;/p&gt;
      &lt;!-- &lt;p class=&quot;align-center margin-bottom-large&quot;&gt;\.&lt;/p&gt; --&gt;

      &lt;div class=&quot;l-grid l-grid--2up&quot;&gt;
        &lt;div class=&quot;l-grid-item&quot;&gt;
          &lt;div class=&quot;container&quot;&gt;
            &lt;h2 class=&quot;rsub-text mgrey-text&quot;&gt;Email:&lt;br/&gt;&lt;/h2&gt;
            &lt;p&gt;&lt;a href=&quot;#&quot; style=&quot;color:white;&quot;&gt;thomaskovach1998@gmail.com&lt;/a&gt;&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;l-grid-item&quot;&gt;
          &lt;div class=&quot;container&quot;&gt;
            &lt;h2 class=&quot;rsub-text mgrey-text&quot;&gt;Cellular Phone&lt;/h2&gt;&lt;br/&gt;
            &lt;p class=&quot;white-text&quot;&gt;(814)-330-7649&lt;/p&gt;
          &lt;/div&gt;
        &lt;!-- &lt;/div&gt; --&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
