&lt;div class=&quot;text no-padding&quot;&gt;
  123 Lorem Avenue
&lt;/div&gt;
&lt;div class=&quot;text no-padding&quot;&gt;
  Pittsburgh, PA 15203
&lt;/div&gt;
&lt;div class=&quot;text no-padding&quot;&gt;
  Email: test@fedex.com
&lt;/div&gt;
