&lt;section role=&quot;complementary&quot; class=&quot;spotlight-section resume-content&quot; id=&quot;spotlight-section&quot;&gt;
  &lt;div class=&quot;outer-container&quot;&gt;
    &lt;div class=&quot;container double-top-bot-margin&quot;&gt;

      &lt;div class=&quot;offset-two-col&quot;&gt;
        &lt;div class=&quot;col-1&quot;&gt;
          &lt;div class=&quot;container&quot;&gt;
            &lt;h2 class=&quot;top-out bottom-out spotlight-highlight resume-text&quot;&gt;&lt;mark class=&quot;mgrey-bg beige-text works&quot;&gt;My Works:&lt;/mark&gt;&lt;/h3&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;col-2&quot;&gt;
          &lt;div class=&quot;container mgrey-bg white-text&quot;&gt;
            &lt;p&gt;I helped develop this &lt;a href=&quot;#&quot; class=&quot;white-text&quot;&gt;brandtern site&lt;/a&gt; during an internship as a web developer&lt;/p&gt;
            &lt;p&gt;This Portfolio was developed by me&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
