&lt;div class=&quot;notification notification--alert global-alert&quot; data-alert-name=&quot;GUID&quot;&gt;
  &lt;div class=&quot;container all-sides-padding&quot;&gt;
      {{ excerpt.short }}
    &lt;div class=&quot;alert--close notification--alert--close&quot; data-control-info=&quot;alert-guid&quot;&gt;
      &lt;p&gt;Close &lt;svg class=&quot;icon icon--reverse-fill icon--remove&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon--remove&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
