
&lt;ul class=&quot;nav--icons&quot;&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--careers&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--dollar&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--support&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--search&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--globe&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;

  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--agreements&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--recognition&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--safety&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--news&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--customers&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--vehicles&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--vendors&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--operations&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--download&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--save&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;svg class=&quot;icon&quot;&gt;
      &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--remove&quot;&gt;&lt;/use&gt;
    &lt;/svg&gt;
  &lt;/li&gt;
&lt;/ul&gt;
