&lt;div class=&quot;field-container checkbox-layout&quot;&gt;
  &lt;legend&gt;Checkbox:&lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/legend&gt;
  &lt;label for=&quot;checkbox1&quot;&gt;
    &lt;input id=&quot;checkbox1&quot; type=&quot;checkbox&quot; name=&quot;rate_vehicle&quot; class=&quot;checkbox&quot; value=&quot;Option 1&quot; /&gt;
    Choice A
  &lt;/label&gt;
  &lt;label for=&quot;checkbox2&quot;&gt;
    &lt;input id=&quot;checkbox2&quot; type=&quot;checkbox&quot; name=&quot;rate_vehicle&quot; class=&quot;checkbox&quot; value=&quot;Option 2&quot; /&gt;
    Choice B
  &lt;/label&gt;
  &lt;label for=&quot;checkbox3&quot;&gt;
    &lt;input id=&quot;checkbox3&quot; type=&quot;checkbox&quot; name=&quot;rate_vehicle&quot; class=&quot;checkbox&quot; value=&quot;Option 3&quot; /&gt;
    Choice C
  &lt;/label&gt;
  &lt;label for=&quot;checkbox4&quot;&gt;
    &lt;input id=&quot;checkbox4&quot; type=&quot;checkbox&quot; name=&quot;rate_vehicle&quot; class=&quot;checkbox&quot; value=&quot;Option 4&quot; /&gt;
    Choice D
  &lt;/label&gt;
&lt;/div&gt;
