
&lt;ul class=&quot;sg-colors&quot;&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ccc;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;small&gt;&lt;span class=&quot;sg-label&quot;&gt;#ccc&lt;/span&gt;&lt;/small&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #1a1a1a;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;small&gt;&lt;span class=&quot;sg-label&quot;&gt;#1a1a1a&lt;/span&gt;&lt;/small&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #1f1f1f;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;small&gt;&lt;span class=&quot;sg-label&quot;&gt;#1f1f1f&lt;/span&gt;&lt;/small&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;small&gt;&lt;span class=&quot;sg-label&quot;&gt;#ffffff&lt;/span&gt;&lt;/small&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;
