
.page-hero {
  position: relative;
}

.hero__figure {
  position: relative;

  @include breakpoint($bp-med) {
    height: 33em;
    overflow: hidden;
    z-index: 10;
  }

  img {
    display: block;

    @include breakpoint($bp-med) {
      position: absolute;
      z-index: 1;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      width: 100%;
      min-width: 1600px;
    }
  }
}

.hero__body {

  @include breakpoint($bp-med) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.hero-callout {
  @include grid-span(3, 1);

  @include breakpoint($bp-med) {
    @include grid-span(3, 1);
  }

  @include breakpoint($bp-large) {
    @include grid-span(5, 1);
  }

  .callout-text {
    @include breakpoint($bp-med) {
      @include clr-reverse;
    }
  }
}

.hero-login {
  @include grid-span(3, 1);

  @include breakpoint($bp-med) {
    @include grid-span(3, 4);
  }

  @include breakpoint($bp-large) {
    @include grid-span(5, 8);
  }
}
