&lt;nav id=&quot;nav&quot; class=&quot;nav--primary&quot; role=&quot;navigation&quot;&gt;
&Tab;&lt;ul&gt;
    &lt;li&gt;
      &lt;a href=&quot;#our-mission-section&quot; class=&quot;main-nav-item&quot;&gt;My Resume&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#spotlight-section&quot; class=&quot;main-nav-item&quot;&gt;My Works&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#speak-up-section&quot; class=&quot;main-nav-item&quot;&gt;Freelance Work&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#retailer-signage-section&quot; class=&quot;main-nav-item&quot;&gt;Contact Me&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#resources-section&quot; class=&quot;main-nav-item&quot;&gt;Social Media&lt;/a&gt;
    &lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
