<nav id="nav" class="nav--primary" role="navigation">
	<ul>
    <li>
      <a href="#our-mission-section" class="main-nav-item">My Resume</a>
    </li>
    <li>
      <a href="#spotlight-section" class="main-nav-item">My Works</a>
    </li>
    <li>
      <a href="#speak-up-section" class="main-nav-item">Freelance Work</a>
    </li>
    <li>
      <a href="#retailer-signage-section" class="main-nav-item">Contact Me</a>
    </li>
    <li>
      <a href="#resources-section" class="main-nav-item">Social Media</a>
    </li>
	</ul>
</nav><!--end .nav-->
