
<div class="nav--secondary is-reverse">
  <ul>
    <li>
      <a href="#">First Level</a>

      <ul>
        <li>
          <a href="#">Second Level 1</a>
        </li>
        <li>
          <a href="#">Second Level 2</a>
        </li>
        <li>
          <a href="#">Second Level 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">First Level 2</a>
    </li>
    <li>
      <a href="#">First Level 3</a>
    </li>
  </ul>
</div>
