<div class="pager">
  <ul id="main_0_content_0_dpPager">
    <li><a href="/videos?page=3">Previous</a></li>
    <li><a href="/videos?page=1">1</a></li>
    <li><a href="/videos?page=2">2</a></li>
    <li><a href="/videos?page=3">3</a></li>
    <li><span>4</span></li>
    <li><a href="/videos?page=5">5</a></li>
    <li><a href="/videos?page=6">...</a></li>
    <li><a href="/videos?page=5">Next</a></li>
  </ul>
</div>
