
&lt;div class=&quot;nav--secondary is-reverse&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;
      &lt;a href=&quot;#&quot;&gt;First Level&lt;/a&gt;

      &lt;ul&gt;
        &lt;li&gt;
          &lt;a href=&quot;#&quot;&gt;Second Level 1&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href=&quot;#&quot;&gt;Second Level 2&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href=&quot;#&quot;&gt;Second Level 3&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#&quot;&gt;First Level 2&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#&quot;&gt;First Level 3&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
