<!-- Begin .header -->
<header class="site-header cf" role="banner">
  <div class="outside-header-container">
    <div class="site-header--top">
      <div class="header-container">
        <div class="header-logo-container">
          <div class="header-logo">
            <h4 class="white-text tom-logo">Thomas Kovach</h4>
           <!-- {{> atoms-logo }} -->
          </div>
        </div>
        <div class="nav-mobile-controls-container">
          <div class="nav-mobile-controls">
            <ul class="nav--icons">
              <li>
                {{> molecules-hamburger-menu}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="site-header--bot">
      <div class="container nav-container">

        <a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>

        {{> molecules-primary-nav }}

        <div class="mobile-nav-container"></div>
      </div>
    </div>

    <div class="hero-content cf">
      <h1 class="hero-text align-center desktop-max-width center-div beige-text">The work brought and provided <span class="sub-text">by Thomas Kovach</span></h1>
    </div>


  </div>
</header>
<!-- End .header -->
