
.button {
  @include button;
}

.text-button {
  font-weight: 700;
  text-decoration: underline;

  &.is-disabled {
    color: #cdcdcd;
    cursor: default;
  }
}

// All child els should be button el or anchor tag
.button-group {
  margin-bottom: $space;
  &.signin {
    display: inline-block;
    vertical-align: top;
    .button {
      font-size: .8em;
    }
  }

  > * {
    margin-right: -5px;
    margin-left: $space-half;

    &:first-child {
      margin-left: 0;
    }
  }
}
.button-then-link {
  display: inline-block;
  padding: .75em $pad-double;
}
