
<div class="page front-page">

  {{> organisms-header }}

  <main class="main-content" role="main">

    {{> organisms-resume-section }}

    {{> organisms-works }}

  <!--  {{> organisms-freelance }} -->

    {{> organisms-contact }}

    {{> organisms-social }}

  </main>

  {{> organisms-footer }}

</div>

