<div class="field-container radio-layout">
  <legend>Radio:<abbr title="Required">*</abbr></legend>
  <label for="radio1">
    <input id="radio1" type="radio" name="rate_vehicle" class="radio" value="Option 1" />
    Option 1
  </label>
  <label for="radio2">
    <input id="radio2" type="radio" name="rate_vehicle" class="radio" value="Option 2" />
    Option 2
  </label>
  <label for="radio3">
    <input id="radio3" type="radio" name="rate_vehicle" class="radio" value="Option 3" />
    Option 3
  </label>
  <label for="radio4">
    <input id="radio4" type="radio" name="rate_vehicle" class="radio" value="Option 4" />
    Option 4
  </label>
</div>
