&lt;div class=&quot;field-container radio-layout&quot;&gt;
  &lt;legend&gt;Radio:&lt;abbr title=&quot;Required&quot;&gt;*&lt;/abbr&gt;&lt;/legend&gt;
  &lt;label for=&quot;radio1&quot;&gt;
    &lt;input id=&quot;radio1&quot; type=&quot;radio&quot; name=&quot;rate_vehicle&quot; class=&quot;radio&quot; value=&quot;Option 1&quot; /&gt;
    Option 1
  &lt;/label&gt;
  &lt;label for=&quot;radio2&quot;&gt;
    &lt;input id=&quot;radio2&quot; type=&quot;radio&quot; name=&quot;rate_vehicle&quot; class=&quot;radio&quot; value=&quot;Option 2&quot; /&gt;
    Option 2
  &lt;/label&gt;
  &lt;label for=&quot;radio3&quot;&gt;
    &lt;input id=&quot;radio3&quot; type=&quot;radio&quot; name=&quot;rate_vehicle&quot; class=&quot;radio&quot; value=&quot;Option 3&quot; /&gt;
    Option 3
  &lt;/label&gt;
  &lt;label for=&quot;radio4&quot;&gt;
    &lt;input id=&quot;radio4&quot; type=&quot;radio&quot; name=&quot;rate_vehicle&quot; class=&quot;radio&quot; value=&quot;Option 4&quot; /&gt;
    Option 4
  &lt;/label&gt;
&lt;/div&gt;
