&lt;div class=&quot;callout-text&quot;&gt;
  &lt;h2&gt;Vestibulum Euismod Lacus&lt;/h2&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a erat a lorem vestibulum tempor sit amet sit amet neque. Donec ultrices justo quis dignissim ultrices.&lt;/p&gt;
  &lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;About Us&lt;/a&gt;
&lt;/div&gt;
