.nav--sidebar {
  box-sizing: content-box;
  @extend %cf;
  width: 100%;
  ul {
    @extend %list-reset;
    li {
      position: relative;
      float: left;
      width: 100%;
      &.sidebar-nav-item-last {
        a {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
      a {
        display: block;
        float: left;
        width: 94%;
        padding: 1em 3%;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid #383838;
        border-top: 1px solid rgba(255,255,255,0.5);
        text-decoration: none;
        font-size: $font-size-slightly-smaller;
        transition: background 500ms;
        background:$grey-dark;
        &.active {
          background: $white;
          color: $grey-dark;
          border-top: 1px solid $grey-dark;
          &:hover {
            color: $white;
          }
        }
        &.expand-nav {
          margin-top: 1px;
          width: 26px;
          height: 17px;
          padding: 15px 12px;
          text-align: center;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
          font-weight: 700;
          background: $grey-med;
          border: none;
          &:hover {
            background: $black;
          }
        }
        &:hover {
          background: $black;
        }
      }
      li {
        a {
          width:90%;
          padding: 1em 5%;
          border-top: 1px solid #f1f1f1;
          border-top: 1px solid rgba(255,255,255,0.25);
          text-shadow: none;
          visibility: visible;
          background:lighten($grey-dark, 6%);
        }
        li {
          a {
            width: 80%;
            padding: 1em 10%;
            background:lighten($grey-dark, 10%);
          }
          li {
            a {
              width: 70%;
              padding: 1em 15%;
              background:lighten($grey-dark, 14%);
            }
            li {
              a {
                width: 60%;
                padding: 1em 20%;
                background:lighten($grey-dark, 18%);
              }
            }
          }
        }
      }
    }
  }
}
