&lt;div class=&quot;inline-form search-form&quot; role=&quot;search&quot;&gt;
  &lt;fieldset&gt;
    &lt;legend class=&quot;is-vishidden&quot;&gt;Search&lt;/legend&gt;
    &lt;label for=&quot;search-field&quot; class=&quot;is-vishidden&quot;&gt;Search&lt;/label&gt;
    &lt;input type=&quot;search&quot; placeholder=&quot;Search&quot; id=&quot;search-field&quot; class=&quot;search-field&quot; /&gt;
    &lt;button class=&quot;search-submit&quot;&gt;
      &lt;svg class=&quot;icon&quot;&gt;
        &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#icon--search&quot;&gt;&lt;/use&gt;
      &lt;/svg&gt;
    &Tab;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;
    &lt;/button&gt;
  &lt;/fieldset&gt;
  &lt;p class=&quot;search-field-advanced&quot;&gt;&lt;a href=&quot;#&quot;&gt;Advanced Search&lt;/a&gt; &lt;a href=&quot;#&quot;&gt;Contact Lookup&lt;/a&gt;
&lt;/div&gt;
