<div class="demo">
  <div class="container">
  	<!--Grid 1up-->
  	<div class="l-grid l-grid--1up">
  		<div class="l-grid-item">
        <div class="example-item">1/2</div>  
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/2</div>  
      </div>
  	</div>	
  </div>
</div>
