<div class="demo">
  <div class="container">
  	<!--Grid 3up-->
    <div class="l-grid l-grid--3up">
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/3</div>
      </div>
    </div>
  </div>
</div>
