<div class="demo">
  <div class="container">
  	<!--Grid 4up-->
    <div class="l-grid l-grid--4up">
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
      <div class="l-grid-item">
        <div class="example-item">1/4</div>
      </div>
    </div>
  </div>
</div>
