<div class="outer-container grey-light-bg">
  <div class="container">
  	<!--Box layout-->
    <div class="box-layout">
      <div class="example-item">
        <div>content</div>
      </div>
    </div>
  </div>
</div>


<div class="outer-container white-bg">
  <div class="container">
    <!--Box layout-->
    <div class="box-layout">
      <div class="example-item">
        <div>content</div>
      </div>
    </div>
  </div>
</div>
