<div class="outer-container grey-light-bg">
  <div class="container">
    <div class="home-banner-sidebar">
      <div class="l-main white-bg">
        <div>content1</div>
      </div>
      <div class="l-sidebar white-bg">
        <div>content2</div>
      </div>
    </div>
  </div>
</div>
