
&lt;div class=&quot;page front-page&quot;&gt;

  {{&gt; organisms-header }}

  &lt;main class=&quot;main-content&quot; role=&quot;main&quot;&gt;

    {{&gt; organisms-resume-section }}

    {{&gt; organisms-works }}

  &lt;!--  {{&gt; organisms-freelance }} --&gt;

    {{&gt; organisms-contact }}

    {{&gt; organisms-social }}

  &lt;/main&gt;

  {{&gt; organisms-footer }}

&lt;/div&gt;

