&lt;a href=&quot;#&quot; class=&quot;total-logo&quot;&gt;
  &lt;svg class=&quot;icon icon--site-total-logo svg-white&quot;&gt;
    &lt;use x=&quot;0&quot; y=&quot;0&quot; xlink:href=&quot;#total-logo&quot;&gt;&lt;/use&gt;
  &lt;/svg&gt;
&lt;/a&gt;
