<div class="block block--media">
	<div class="media-figure">
		{{> atoms-square }}
	</div>
	<div class="media-body">
		<h2 class="headline">{{ headline.short }}</h2>
		<p>{{ excerpt.medium }}</p>
	</div>
</div>
