&lt;p class=&quot;alert error&quot;&gt;This is what error text looks like&lt;/p&gt;
&lt;p class=&quot;alert valid&quot;&gt;This is what valid text looks like&lt;/p&gt;
&lt;p class=&quot;alert warning&quot;&gt;This is what warning text looks like&lt;/p&gt;
&lt;p class=&quot;alert information&quot;&gt;This is what information text looks like.&lt;/p&gt;
