<div class="callout-text">
  <h2>Vestibulum Euismod Lacus</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a erat a lorem vestibulum tempor sit amet sit amet neque. Donec ultrices justo quis dignissim ultrices.</p>
  <a class="button" href="#">About Us</a>
</div>
