<div class="outer-container purple-bg">
  <div class="container my-quick-links">
    <div class="l-grid l-grid--4up">
      <div class="l-grid-item">
        <a href="#" class="svg-text">
        <svg class="icon icon--reverse-fill">
          <use x="0" y="0" xlink:href="#icon--operations"></use>
        </svg>
        <label>Safety Topic Library</label>
        </a>
      </div>
      <div class="l-grid-item">
        <a href="#" class="svg-text">
        <svg class="icon icon--reverse-fill">
          <use x="0" y="0" xlink:href="#icon--operations"></use>
        </svg>
        <label>Safety Topic Library</label>
        </a>
      </div>
      <div class="l-grid-item">
        <a href="#" class="svg-text">
        <svg class="icon icon--reverse-fill">
          <use x="0" y="0" xlink:href="#icon--operations"></use>
        </svg>
        <label>Safety Topic Library</label>
        </a>
      </div>
      <div class="l-grid-item">
        <a href="#" class="svg-text">
        <svg class="icon icon--reverse-fill">
          <use x="0" y="0" xlink:href="#icon--operations"></use>
        </svg>
        <label>Safety Topic Library</label>
        </a>
      </div>
    </div>
  </div>
</div>
