&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;button is-disabled&quot; disabled&gt;Disabled Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;text-button&quot;&gt;Text Button&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;text-button is-disabled&quot;&gt;Text Button&lt;/a&gt;&lt;/p&gt;

&lt;div&gt;
  &lt;div class=&quot;toggle-button&quot;&gt;
    &lt;input type=&quot;checkbox&quot; id=&quot;textReminder&quot; name=&quot;textReminder&quot; /&gt;
    &lt;label for=&quot;textReminder&quot;&gt;
      &lt;span class=&quot;is-vishidden&quot;&gt;Toggle on / off&lt;/span&gt;
    &lt;/label&gt;

    &lt;div class=&quot;switch&quot;&gt;
      &lt;div class=&quot;switch-button&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
