<section role="complementary" class="our-mission-section" id="our-mission-section">
  <div class="resume-content outer-container mgrey-bg">
    <div class="container">
      <h2 class="resume-text beige-text align-center">My Resume</h2>
      <div class="l-grid l-grid--2up">
        <div class="l-grid-item">
          <div class="container">
            <h1 class="rsub-text beige-text">Downloadable for your convenience</h1>
            <p class="desktop-max-width"><a href="#" class="white-text">Resume of Thomas Kovach</a></p>
          </div>
        </div>
        <div class="l-grid-item">
          <div class="container">
            <h4 class="top-out bottom-out rsub-text beige-text">Workplaces</h4>
            <ul class="min-padd white-text">
              <li>Games Attendant: Delgrosso's Amusement Park</li>
              <li>Service Champion: Taco Bell</li>
              <li>Package Sorter - Amazon Sorting Plant</li>
              <li>Intern - Web Developer - Gatesman Agency</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
