<section role="complementary" class="spotlight-section resume-content" id="spotlight-section">
  <div class="outer-container">
    <div class="container double-top-bot-margin">

      <div class="offset-two-col">
        <div class="col-1">
          <div class="container">
            <h2 class="top-out bottom-out spotlight-highlight resume-text"><mark class="mgrey-bg beige-text works">My Works:</mark></h3>
          </div>
        </div>

        <div class="col-2">
          <div class="container mgrey-bg white-text">
            <p>I helped develop this <a href="#" class="white-text">brandtern site</a> during an internship as a web developer</p>
            <p>This Portfolio was developed by me</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
