<section role="complementary" class="resume-content" id="resources-section">
  <div class="outer-container orange-bg white-text">
    <div class="container">
      <h2 class="align-center top-out bottom-out mgrey-text resume-text">Social Media</h2>
      <div class="l-grid l-grid--2up">
        <div class="l-grid-item">
          <div class="container">
            <p>
           If you would like to look into who I am as a person although limited...<br/>
            <a href="#" class="white-text">Facebook<i class="fa fa-facebook-square" aria-hidden="true"></i></a></p>
          </div>
        </div>
        <div class="l-grid-item">
          <div class="container">
            <p>
           Another way to contact me and obtain other general work related information<br/>
            <a href="#" class="white-text">LinkedIn<i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
