<section role="complementary" class="form-section" id="modal-form-section">
    <div class="outer-container grey-bg black-text">
        <div class="container">
            <!-- Trigger/Open The Modal -->
            <!-- s<button id="myBtn">Open Modal</button> -->
            <p><a id="myBtn" href="#" class="button">Contact Rep</a></p>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content black-text">
                    <span class="close">&times;</span>
                    <form role="form" id="contactForm" data-toggle="validator" class="modal-form shake">
                        <input type="hidden" id="county" value="">
                        <input type="hidden" id="ordinance" value="">

                        <p>Hello,</p>

                        <p>As a resident of [name of town/county], I&rsquo;m writing to respectfully express my concern for the [insert ordinance type] under consideration.</p>

                        <p>These restrictions will cause more harm than good in our community in multiple ways, including:</p>

                        <ul class="list letter-list">
                            <li>Driving business to surrounding communities that do not have the same tobacco restrictions.</li>
                            <li>Providing surrounding businesses an unfair competitive advantage by banning my business from selling legal tobacco products to legal age consumers.</li>
                            <li>Forcing police departments to regulate a new tobacco ordinance while issues with opioid abuse and homicide continue to plague the U.S.</li>
                            <li>Opening up an opportunity for criminals to sell tobacco products illegally on the black market, which can result in an increase in crime, violence and youth access to tobacco products.</li>
                        </ul>

                        <p>Additionally, these ordinances limit the freedoms and choices of legal adults who can get married, serve our country and vote for leaders, such as yourself.</p>  

                        <p>While I understand the concern for public health, please rest assured we only sell legal tobacco products to legal age adults. In fact, our staff goes through extensive training to keep tobacco products away from underage individuals. </p>

                        <p>We are doing our part to be responsible members of the local business community by responsibly selling legal tobacco products to adults. I am in favor of any laws that will benefit the public health, but I can&rsquo;t support an ordinance that doesn&rsquo;t support my livelihood. </p>

                        <p>For the sake of [name of town]&rsquo;s community and local businesses, please vote &ldquo;no&rdquo; on the [insert ordinance type] under consideration.</p>

                        <p>Please contact me if you have any questions.</p>

                        <p>Thank you, </p>

                        <div class="input-wrapper">

                            <div class="form-group field-container cf">
                                <p>
                                    <label for="name" class="h4">Electronic Signature<sup>*</sup></label>
                                    <input type="text" class="form-control" id="name" placeholder="Insert Electronic Signature" required>
                                    <div class="help-block with-errors"></div>
                                </p>
                            </div>

                            <div class="form-group field-container cf">
                                <p>
                                    <label for="email" class="h4">Email<sup>*</sup></label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                                    <div class="help-block with-errors"></div>
                                </p>
                            </div>

                        </div>

                        <div class="cf">
                            <button type="reset" id="form-reset" class="btn btn-clear button pull-right ">Reset</button>
                            <button type="submit" id="form-submit" class="btn btn-success button pull-right ">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                        
                    </form>
                    
                    
                </div>
            </div>
            </div><!--/.container-->
        </div>
    </section>